@font-face {
  font-display: swap;
  font-family: "Play";
  font-weight: 700;
  src: url("../fonts/play-v17-latin-700.woff2") format("woff2"),
    url("../fonts/play-v17-latin-700.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"),
    url("../fonts/roboto-v30-latin-regular.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-weight: 500;
  src: url("../fonts/roboto-v30-latin-500.woff2") format("woff2"),
    url("../fonts/roboto-v30-latin-500.ttf") format("truetype");
}

:root {
  --color-brand-dark: #011c44;
  --color-brand-light: #2b7fff;
  --color-primary-light: #ffffff;
}

/* Base */
body {
  color: var(--color-brand-dark);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.7;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

address {
  font-style: normal;
}

.section {
  padding: 48px 0;
}
/* Link */

.link {
  color: var(--color-brand-dark);
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
}

.link:hover {
  color: var(--color-brand-light);
  font-weight: 700;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
}

/* Header */
.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}

.header-menu {
  display: flex;
  justify-content: center;
  gap: 56px;
  flex-grow: 1;
}

.header-icon {
  display: flex;
}

.header-icon {
  display: flex;
  gap: 32px;
}

/* Button */
.button {
  padding: 16px 32px;
  color: var(--color-primary-light);
  background-color: var(--color-brand-light);
  border: 2px solid var(--color-brand-light);
  border-radius: 32px;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 14px;
}

.button:hover {
  color: var(--color-brand-dark);
  background-color: transparent;
}

/* Hero section */
.hero-section {
  padding: 125px 0;
  background-image: linear-gradient(
      94deg,
      #fff 9.65%,
      rgba(255, 255, 255, 0.85) 26.08%,
      rgba(255, 255, 255, 0.19) 52.74%,
      rgba(255, 255, 255, 0) 74.46%
    ),
    url(../images/hero-section-background.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 1200px 700px;
  max-width: 1550px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 170px;
}

.hero-title {
  font-family: "Play";
  color: var(--color-brand-light);
  font-weight: 700;
  font-size: 140px;
  text-transform: capitalize;
  max-width: 560px;
  line-height: 114px;
  margin-bottom: 40px;
}

.description-text {
  margin-bottom: 16px;
}

.advice-text {
  margin-bottom: 0;
  color: #4a4a4a;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  max-width: 240px;
}

/* General section */
.general-container {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}

.general-section {
  padding: 0 0 0 88px;
}

.general-title {
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 1.2;
  margin-bottom: 40px;
  max-width: 530px;
}

.brand-capitalize {
  color: var(--color-brand-light);
  font-weight: 700;
  text-transform: capitalize;
}

.brand {
  font-weight: 600;
  text-transform: capitalize;
}

.woman-photo {
  border-radius: 50%;
  flex-shrink: 0;
  width: 335px;
  height: 328px;
}

/* Advantage section */

.advantages-list {
  display: flex;
  gap: 56px;
  justify-content: center;
}

.advantage-card {
  border: 1px solid blue; /*remove*/
  border-radius: 32px;
  padding: 24px 32px;
  flex-wrap: wrap;
  box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.38);
}

.advantage-item {
  flex-basis: calc(100% - 50 / 3);
}

.advantage-section {
  padding: 88px 0 48px 0;
}

.advantage-title {
  font-family: "Play", sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 64px;
  line-height: 1.2;
  margin: 0 auto 48px;
  max-width: 500px;
}

.advantage-accent {
  color: var(--color-brand-light);
}

.advantage-text {
  color: #000000;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  max-width: 250px;
  text-align: center;
}

.advantage-icon {
  fill: var(--color-brand-light);
}

/* Procedures section */
.procedures-container {
  display: flex;
  align-items: center;
  gap: 32px;
}

.procedures-list {
  display: flex;
  gap: 16px;
  flex-grow: 1;
  justify-content: center;
}

.procedures-card {
  border: 1px solid;
  border-radius: 4px 120px;
  padding: 372px 77px 32px 115px;
  background-image: linear-gradient(
    180deg,
    rgba(1, 28, 68, 0) 47.4%,
    rgba(1, 28, 68, 0.73) 82.66%,
    #011c44 99.06%
  );
}

.procedures-item {
  flex-basis: calc(100% / 3);
  flex-wrap: wrap;
}

.procedures-title {
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 48px;
}

.procedures-accent {
  color: var(--color-brand-light);
}

.procedures-text {
  color: var(--color-primary-light);
  /* color: var(--color-primary-light); */
  line-height: 1.2;
  font-weight: 400;
  font-size: 22px;
  max-width: 150px;
  text-align: center;
}

/* Carousel */
.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  padding: 0;
  fill: var(--color-brand-dark);
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid var(--color-brand-dark);
  cursor: pointer;
}

/* Contact section */

.contact-title {
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 48px;
}

.contact-map {
  flex-shrink: 0;
  border: none;
  border-radius: 32px;
}

.contact-accent {
  color: var(--color-brand-light);
}

.adress-icon {
  color: var(--color-brand-dark);
}

/* Footer */

.footer {
  padding: 56px 0;
}

.footer-container {
  display: flex;
  gap: 20px;
}

.footer-address,
.footer-nav {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}

.footer-menu {
  color: var(--color-primary-light);
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
}

.footer-logo,
.footer-menu {
  flex-grow: 1;
}

.address-list,
.address-info {
  flex-grow: 1;
}

.icon-address {
  display: flex;
  gap: 20px;
  fill: var(--color-primary-light);
}

.address-link {
  color: var(--color-primary-light);
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
}

.address-copyright {
  color: #747272;
  font-size: 13px;
}

.footer {
  background-image: url(../images/background-footer.png);
  background-color: var(--color-brand-dark);
}

.link-footer {
  display: flex;
  color: var(--color-primary-light);
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  padding-bottom: 16px;
}

.footer-icon {
  fill: var(--color-primary-light);
}
